body {
  
  display: flex;
  justify-content: center;
  height: 100vh;
  background: aliceblue
}
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.App{
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
